.DS_Store
.npm/
.vscode
.idea
.server
node_modules
npm-debug.log
coverage
.cache
.eslintcache
.env
.env.local
secrets.env
compose/secrets.env
google-chrome-stable_current_amd64.deb
packing-lists
scripts